@* @page *@
@model EmilsAuto.Controllers.BrowseViewModel;
@{
	ViewData["Title"] = "Browse";
}

<div class="text-center">
	<h1 class="display-4">Udvalg af biler</h1>
</div>

<section class="newscontent">
	@foreach (Classes.Car car in Model.Car)
	{
		TimeSpan span = car.ListingDate.Subtract(DateTime.UtcNow);
		 <form asp-action="SelectCar" method="post">
			<input type="hidden" name="productId" value="@car.ProductId" />
			<button class="flashnews">
				<span>Lagt op @car.ListingDate.ToString("dd-MM-yyyy") </span>
				<img src="placeholder.png">
				<h2>@car.Model.Brand.Name @car.Model.ModelYear @car.Model.FuelType</h2>
			</button>
		</form>
	}
</section>